# pasta de venv
experiment

# pastas shared e buid do minerva
.hypothesis/
shared_data

# patas do lightning e logs
lightning_logs
logs
checkpoints
__pycache__
run_*.yaml
*.csv
*.ckpt

# ignorar pastas de resultados
experiment_*
results

# nao ignorar arquivos de experimento py
!experiment_*.py

Singularity.sif

bkp/